
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


*{

  font-family: 'Merriweather', serif;
  list-style-type: none;
  text-decoration: none;
  font-size: 17px;
}


.container{

  display: flex;
  background-color: #1e4463;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}



.logo img{

  width: 100px;
  
}



.header ul li{

  display: inline-block;

}

.img-background img{
  width: 45%;
  display: block;
  margin: 0px auto;
  padding-top: 70px;
  
}

.header ul li a{
color: aliceblue;
padding: 0 8px;
font-size: 14px;
text-transform: capitalize;
}

/* this is my red highlight */

span.red{

background-color: red;
font-size: 11px;
padding: 3px;
border-radius: 2px;
}


/* login & get started */
.btn{
color: aliceblue;
font-size: 14px;
padding: 0px 10px;
text-transform: capitalize;
}

/* login bottun */
.login-key{
border: 1.5px white solid;
padding: 8px 25px;
border-radius: 5px;
}

.login-key:hover{

background-color: aqua;
color: black;
}

.get-key{
/* border: 1.5px white solid; */
padding: 8px 25px;
border-radius: 5px;
background-color: dodgerblue;
margin: 8px 10px;


}

.word:hover{
background-color: aqua;
color: black;
border: 1.5px white;
border-radius: 3px;
}

.web:hover{
background-color: aqua;
color: black;
border: 1.5px white;
border-radius: 3px;
}

.host:hover{
background-color: aqua;
color: black;
border: 1.5px white;
border-radius: 3px;
}

.domain:hover{
background-color: aqua;
color: black;
border: 1.5px white;
border-radius: 3px;
}

.email:hover{
background-color: aqua;
color: black;
border: 1.5px white;
border-radius: 3px;
}

.pro:hover{
background-color: aqua;
color: black;
border: 1.5px white;
border-radius: 3px;
padding-right: 0px;
}

.academy:hover{
background-color: aqua;
color: black;
border: 1.5px white;
border-radius: 3px;
}

/* the body of my web starts here */

.section{

background-color:  black;
padding: 40px;
}


.title{
max-width: 60%;
margin: 0px auto;
color: aliceblue;
text-align: center;
}

.title h1{

font-size: 45px;
}

.title p{
font-size: 14px;
padding: 40px;
}

.bottun{
text-align: center;

}

.btn-bottun{

background-color: dodgerblue;
padding: 20px 40px;
font-weight: bold;
color: black;
}


.img{
width: 20%;
}

.fa-arrow-right:hover{

transform: scale(1.3);
}

.fa-arrow-right{
padding: 5px;
}

.service{

width: 90%;
margin: auto;
color: aliceblue;

}

.service-original{

display: flex;;
font-size: 2px;
justify-content: space-between;

}

.service-one{
padding: 30px;
}

.service-two{
padding: 30px;
}


.service-three{
padding: 30px;
}

.service-four{
padding: 30px;

}

.service h1{
text-align: center;
font-size: 30px;
padding: 45px;
}

.bold > p:nth-child(2){
font-weight: bold;
font-size: 16px;
}

.icon{
font-size: 30px;
}


.framework{

background-color: darkcyan;
margin-top: -30px;
}

.framework-image img{
width: 98% ;
height: 250px;
}

.framework-flex{
display: flex;
}

.framework-title{
background-color: black;
color: aliceblue;
height: 250px;
width: 98%;
margin-top: -20px;
}

.framework-section{
width: 98%;
padding: 0px 10px;

}


.framework h1{

text-align: center;
padding: 50px;
font-size: 30px;
color: aliceblue;
}


.framework-title h2{

padding: 40px 50px;
font-size: 20px;
text-transform: capitalize;

}

.framework p{
padding: 0px 25px;
font-size: 15px;


}


/* botton design */

.btn-framework{

margin: 40px;
}

.btn-design{
background-color: dodgerblue;
padding: 15px 40px;
color: black;
font-weight: bold;
}


/* this is my footrer */

.footer{
background-color: black;
width: 100%;
height: 60vh;
display: flex;
margin-top: 20px;
padding: 40px;
position: relative;

}

.dropbox{
height: 60vh;
margin-right: 10px;
margin-left: 10px;
width: 20%;
color: aliceblue;
}

.dropbox p{
font-weight: bold;
font-size: 20px;
}

.dropbox ul li{
padding-top: 10px;
}

.dropbox span{
padding: 40px;
}

.dropbox ul li a{
color: aliceblue;
font-size: 15px;
}

/* my mobile resposiveness starts here */

@media screen and (max-width:1031px) {

.header ul li a{
  padding: opx 3px;
  font-size: 13px;
}

.btn{

  padding: 3px 8px;
}

.login{
  margin-left: -20px;
}
}

@media (min-width:400px) and (max-width:1031px){
.container{
  flex-direction: column;
  position: relative;
  background-color: black;
}


.header ul li{

  display: block;
  padding: 8px 0px;

}

/* log mobile responsiveness */

.logo img{
  
  position: absolute;
  top: 0%;
} 

ul{
  background-color: #1e4463;
  width: 80%;
  position: absolute;
  top:80%;
  height: 50vh;
  right: 8%;
  text-align: left;
}


}
